Source: kyototycoon
Section: utils
Priority: optional
Maintainer: Shawn Landden <shawnlandden@gmail.com>
Build-Depends: debhelper (>= 9),
 dpkg-dev (>= 1.16.1),
 automake,
 libtool (>= 2.2),
 liblua5.1-0-dev,
 lua5.1,
 zlib1g-dev,
 liblzma-dev,
 liblzo2-dev
# Fails to build against lua 5.2
Build-Conflicts: lua5.2
Standards-Version: 3.9.3
Vcs-Browser: http://git.debian.org/?p=collab-maint/kyototyrant.git
Vcs-Git: git://git.debian.org/collab-maint/kyototyrant.git
Homepage: http://fallabs.com/kyototyrant/

Package: libkyototycoon2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Handy cache/storage server - shared library
 Kyoto Tycoon is a lightweight database server with auto expiration
 mechanism, which is useful to handle cache data and persistent data
 of various applications. Kyoto Tycoon is also a package of network
 interface to the DBM called Kyoto Cabinet. Though the DBM has high
 performance and high concurrency, you might bother in case that
 multiple processes share the same database, or remote processes
 access the database. Thus, Kyoto Tycoon is provided for concurrent
 and remote connections to Kyoto Cabinet. Kyoto Tycoon is composed
 of the server process managing multiple databases and its access
 library for client applications.
 .
 This package contains the shared library.
 
Package: kyototycoon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: kyototycoon-doc
Multi-Arch: foreign
Description: Handy cache/storage server
 Kyoto Tycoon is a lightweight database server with auto expiration
 mechanism, which is useful to handle cache data and persistent data
 of various applications. Kyoto Tycoon is also a package of network
 interface to the DBM called Kyoto Cabinet. Though the DBM has high
 performance and high concurrency, you might bother in case that
 multiple processes share the same database, or remote processes
 access the database. Thus, Kyoto Tycoon is provided for concurrent
 and remote connections to Kyoto Cabinet. Kyoto Tycoon is composed
 of the server process managing multiple databases and its access
 library for client applications.
 .
 The network protocol between the server and clients is HTTP so that
 you can write client applications and client libraries in almost all
 popular languages. Both of RESTful-style interface by the GET, HEAD,
 PUT, DELETE methods and RPC-style inteface by the POST method are
 supported. The server can handle more than 10 thousand connections
 at the same time because it uses modern I/O event notification
 facilities such as "epoll" and "kqueue" of underlying systems. The
 server supports high availability mechanisms, which are hot backup,
 update logging, and asynchronous replication. The server can (and does)
 embed Lua, a lightweight script language so that you can define
 arbitrary operations of the database.
 .
 This package contains the server, and the test tools.

Package: kyototycoon-dbg
Section: debug
Architecture: any
Depends: kyototycoon (= ${binary:Version}), libkyototycoon2 (= ${binary:Version}), ${misc:Depends}
Provides: libkyototycoon-dbg, libkyototycoon2-dbg
Multi-Arch: foreign
Priority: extra
Description: Handy cache/storage server - debugging symbols
 Kyoto Tycoon is a lightweight database server with auto expiration
 mechanism, which is useful to handle cache data and persistent data
 of various applications. Kyoto Tycoon is also a package of network
 interface to the DBM called Kyoto Cabinet. Though the DBM has high
 performance and high concurrency, you might bother in case that
 multiple processes share the same database, or remote processes
 access the database. Thus, Kyoto Tycoon is provided for concurrent
 and remote connections to Kyoto Cabinet. Kyoto Tycoon is composed
 of the server process managing multiple databases and its access
 library for client applications.
 .
 This package contains debugging symbols to the server, test tools,
 and shared library.

Package: kyototycoon-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libkyototycoon-dev
Description: Handy cache/storage server - documentation
 Kyoto Tycoon is a lightweight database server with auto expiration
 mechanism, which is useful to handle cache data and persistent data
 of various applications. Kyoto Tycoon is also a package of network
 interface to the DBM called Kyoto Cabinet. Though the DBM has high
 performance and high concurrency, you might bother in case that
 multiple processes share the same database, or remote processes
 access the database. Thus, Kyoto Tycoon is provided for concurrent
 and remote connections to Kyoto Cabinet. Kyoto Tycoon is composed
 of the server process managing multiple databases and its access
 library for client applications.
 .
 This package contains the documentation.

Package: libkyototycoon-dev
Section: libdevel
Multi-Arch: same
Architecture: any
Suggests: kyototycoon
Depends: libkyototycoon2 (= ${binary:Version}), ${misc:Depends}
Provides: libkyototycoon2-dev
Description: Handy cache/storage server - development headers
 Kyoto Tycoon is a lightweight database server with auto expiration
 mechanism, which is useful to handle cache data and persistent data
 of various applications. Kyoto Tycoon is also a package of network
 interface to the DBM called Kyoto Cabinet. Though the DBM has high
 performance and high concurrency, you might bother in case that
 multiple processes share the same database, or remote processes
 access the database. Thus, Kyoto Tycoon is provided for concurrent
 and remote connections to Kyoto Cabinet. Kyoto Tycoon is composed
 of the server process managing multiple databases and its access
 library for client applications.
 .
 This package contains the development headers.

